.header {
	text-align: center;
}

.heaps {
	padding-left: 20%;
	padding-top: 10%;
}

.turn {
	text-align: center;
}

.choice {
	text-align: center;
	padding-top: 5%;
}

.inputs {
	padding-top: 10%;
}

.won {
	text-align: center;
	padding-top: 10%;
	font-size: 2em;
}